table {
  width: 100%;
  // background-color: #21262d;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
  // color: white;
}

// mat-paginator{
//   background-color: #21262d;
//   color: white;
// }
