@import 'abstracts/colors';

.app-navbar{
    position: sticky;
    top: 0;
    background-color: $background-alt;
    margin-bottom: 3rem;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    section{
        width: 30%;
    }
}

.navbar-set{
    display: flex;
    justify-content: space-evenly;
}

.login-set{
    text-align: right;
}

@media screen and (max-width: 880px) {
        .app-navbar{
            flex-direction: column;

            .navbar-logo{
                display: none;
            }
            
            section{width: 100%;}
        }
    }