@import 'abstracts/colors';

.app-navbar{
    background-color: $background;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    div{
        width: 25%;
    }
}

.navbar-set{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login-set {
    text-align: right;
}