$background: #0d1117;
$background-alt: #161b22;
$container: #21262d;
$container-alt: #89929b;
$foreground: #c6cdd5;
$foreground: #ecf2f8;

$black: #12101d;
$gray: #455a64;
$white: #e6e6fa;
$cyan: #2cbacd;
$magenta: #ff00ff;
$yellow: #e9de66;
$red: #f55145;
$blue: #37a0f6;
$orange: #f5c943;
$purple: #922e92;
$green: #87bf48;