$background: hsla(249, 29%, 9%, 0.8);
$background-alt:  hsla(220, 16%, 22%, 0.8);
$foreground: #e6e6fa;

$black: #12101d;
$gray: #455a64;
$white: #e6e6fa;
$cyan: #2cbacd;
$magenta: #ff00ff;
$yellow: #e9de66;
$red: #f55145;
$blue: #37a0f6;
$orange: #f5c943;
$purple: #922e92;
$green: #87bf48;