@use 'sass:map';

$background-palette: (
    50 : #e3e2e4,
    100 : #b8b7bb,
    200 : #89888e,
    300 : #595861,
    400 : #36343f,
    500 : #12101d,
    600 : #100e1a,
    700 : #0d0c15,
    800 : #0a0911,
    900 : #05050a,
    A100 : #5050ff,
    A200 : #1d1dff,
    A400 : #0000e9,
    A700 : #0000d0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$foreground-palette: (
    50 : #fcfcfe,
    100 : #f8f8fe,
    200 : #f3f3fd,
    300 : #eeeefc,
    400 : #eaeafb,
    500 : #e6e6fa,
    600 : #e3e3f9,
    700 : #dfdff9,
    800 : #dbdbf8,
    900 : #d5d5f6,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$green-palette: (
  50: #f0f7e8,
  100: #daebc7,
  200: #c3dfa4,
  300: #abd27f,
  400: #99c863,
  500: #87bf48,
  600: #79af40,
  700: #659b36,
  800: #52872d,
  900: #31661d,
  A100: #f6f6c9,
  A200: #f0f2a7,
  A400: #e4e86d,
  A700: #bfbb48,
  contrast: (
    50: #0d1117,
    100: #0d1117,
    200: #0d1117,
    300: #0d1117,
    400: #0d1117,
    500: #0d1117,
    600: #c6cdd5,
    700: #c6cdd5,
    800: #c6cdd5,
    900: #c6cdd5,
    A100: #0d1117,
    A200: #0d1117,
    A400: #0d1117,
    A700: #0d1117,
  )
);

$purple-palette: (
  50 : #f4e4f4,
  100 : #e3bbe3,
  200 : #d08ed0,
  300 : #bd60bd,
  400 : #ae3eae,
  500 : #a01ca0,
  600 : #981998,
  700 : #8e148e,
  800 : #841184,
  900 : #730973,
  A100 : #ffa4ff,
  A200 : #ff71ff,
  A400 : #ff3eff,
  A700 : #ff25ff,
  contrast: (
    50: #0d1117,
    100: #0d1117,
    200: #0d1117,
    300: #0d1117,
    400: #c6cdd5,
    500: #c6cdd5,
    600: #c6cdd5,
    700: #c6cdd5,
    800: #c6cdd5,
    900: #c6cdd5,
    A100: #0d1117,
    A200: #0d1117,
    A400: #0d1117,
    A700: #0d1117,
  )
);

$dark-palette-foreground: (
  base:              map.get($foreground-palette, 500),
  divider:           rgba(white, 0.12),
  dividers:          rgba(white, 0.12),
  disabled:          rgba(white, 0.5),
  disabled-button:   rgba(white, 0.3),
  disabled-text:     rgba(white, 0.5),
  elevation:         map.get($background-palette, 900),
  hint-text:         rgba(white, 0.5),
  secondary-text:    rgba(white, 0.7),
  icon:              map.get($foreground-palette, 500),
  icons:             map.get($foreground-palette, 500),
  text:              map.get($foreground-palette, 500),
  slider-min:        map.get($foreground-palette, 500),
  slider-off:        rgba(white, 0.3),
  slider-off-active: rgba(white, 0.3),
);

$dark-palette-background: (
  status-bar:               black,
  app-bar:                  map.get($background-palette, 900),
  background:               #303030,
  hover:                    rgba(white, 0.04),
  card:                     map.get($background-palette, 500),
  dialog:                   map.get($background-palette, 500),
  disabled-button:          rgba(white, 0.12),
  raised-button:            map.get($background-palette, 500),
  focused-button:           rgba(white, 0.12),
  selected-button:          map.get($background-palette, 900),
  selected-disabled-button: map.get($background-palette, 500),
  disabled-button-toggle:   black,
  unselected-chip:          map.get($background-palette, 700),
  disabled-list-option:     rgba(white, 0.12),
  tooltip:                  map.get($background-palette, 700),
);